*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #E8E3D4;
    font-family: Arial;
}
nav {
    width: 150%;
    height: 07%;
    display: flex;
    position: fixed;
    background: rgb(232,227,212);
    background: -moz-linear-gradient(0deg, rgba(232,227,212,1) 0%, rgba(102,222,192,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(232,227,212,1) 0%, rgba(102,222,192,1) 100%);
    background: linear-gradient(0deg, rgba(232,227,212,1) 0%, rgba(102,222,192,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e3d4",endColorstr="#66dec0",GradientType=1);
    z-index: 99;
}
.Petisco{
    font-size: 25pt;
    margin-top: auto;
    margin-bottom: auto;
}
nav a {
    color: rgb(0, 0, 0);
    margin: auto 20px auto 40px;
    text-decoration: none;
    font-weight: bold;
}

nav li {
    float: left;
    list-style: none;
    margin-left: 60px;
    margin-top: 20px;
}
.Titulo{
    margin-left: 0%;
    text-align:justify;
}
h2{
    text-align: center;
    font-size: 15pt;
}
.TabelaEquipe{
    margin-left: auto;
    margin-right: auto;
    font-size: 15pt;
    text-align: center;
}
.TabelaItens{
    margin-left: auto;
    margin-right: auto;
    font-size: 15pt;
    text-align: center;
}
.Quemsomos{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}
a{
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
}
.agoravai
{
    text-align: center;
}
.Gatos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Agenda{
    border: 4px solid #cefbef;
    border-radius: 4px;
    margin-left: 30%;
    margin-right: 30%;
    margin-left: auto;
    margin-right: auto;
}
.Domingo{
    background-color: #ff0000a5;
}
.Indisponivel{
    background-color: #ff000070;
}
form{
    text-align: center justify;
    background-color: #e7d3b8;
}
footer{
    background: rgb(206,251,239);
    background: -moz-linear-gradient(0deg, rgba(206,251,239,1) 0%, rgba(232,227,212,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(206,251,239,1) 0%, rgba(232,227,212,1) 100%);
    background: linear-gradient(0deg, rgba(206,251,239,1) 0%, rgba(232,227,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cefbef",endColorstr="#e8e3d4",GradientType=1);
    height: 40px;
    display:flex;
    justify-content: center;
    margin-top: 12%;
}
ul{
    list-style: none;
    float:left;
    margin:0 5px;
}
.formulario {
    margin: auto;
    border: 4px solid #cefbef;
    border-radius: 4px;
    width: 24.3%;
    justify-content: center;
}
input[type=text]{
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
}
input[type=textarea]{
    width: 15%;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    resize: none;
}
input[type=email]{
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
}
#caixa{
    width: 99%;
    height: 10%;
    box-sizing: content-box;
}
input[type=submit]{
    background-color: #66DEC0;
    border: none ;
    color: rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    width: 99%;
}
.adote{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.Faleconosco{
    margin: auto;
    border: 4px solid #cefbef;
    border-radius: 4px;
    width: 24.1%;
    justify-content: center;
}
img{
    border-radius: 12px;
}
.local{
    text-align: center;
}